﻿<div ng-controller="app.views.projects as vm">
    <div class="row">
        <div class="row">
            <button class="btn btn-primary blue" ng-click="vm.createProject()">@L("CreateNewProject")</button>
        </div>
        <div class="row" ng-repeat="project in vm.projects">
            <a ng-click="vm.goToProject(project.id)">
                <h3 class="text">{{project.name}}</h3></a>
        </div>
    </div>
</div>