﻿<div ng-controller="app.views.workTime as vm">
    <div class="row">

        <p>
            <strong>@L("Month"): </strong><select ng-model="vm.month" ng-change="vm.getWorkTime()" ng-options="x.id as x.name for x in vm.months"></select>
            <strong>@L("Year"): </strong><select ng-model="vm.year" ng-change="vm.getWorkTime()" ng-options="x.id as x.name for x in vm.years"></select>
        </p>

        <table class="table">
            <tr>
                <th>@L("Issue")</th>
                <th>@L("Date")</th>
                <th>@L("LoggedTime")</th>
            </tr>
            <tr ng-repeat="log in vm.loggedTime">
                <td>{{log.issueName}}</td>
                <td>{{log.dateLogged | date}}</td>
                <td>{{log.loggedTime}}h</td>
            </tr>
        </table>
    </div>
</div>