﻿<div ng-controller="app.views.singleIssue as vm">
    <div class="row">
        
        <a class="btn btn-primary blue" ng-click="vm.goBack()">@L("GoBackToIssues")</a>
        <h3><strong>@L("Name"):</strong> {{vm.issue.name}}</h3>
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>@L("IssueCategory"):</strong> {{vm.issueCategories[vm.issue.issueCategoryForeignKey].name}}
                    </p>
                    <p>
                        <strong>@L("Description"):<br/></strong> {{vm.issue.name}}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>@L("StartDate"):</strong> {{vm.issue.startDate | date}}
                    </p>
                    <p>
                        <strong>@L("EndDate"):</strong> {{vm.issue.endDate | date}}
                    </p>

                    <p>
                        <strong>@L("Done"):</strong> {{vm.issue.done}}%
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong>@L("AssignedUser"):</strong> {{vm.issue.member.fullName}}
                    </p>
                    <p>
                        <strong>@L("EstimatedTime"):</strong> {{vm.issue.estimatedTime}}h
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>