﻿@using Abp.Authorization.Users
<div>
    <form name="projectCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("CreateNewSprint")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>@L("SprintName")</label>
                <input class="form-control" name="Name" ng-model="vm.sprint.name" required />
            </div>
            <div class="form-group">
                <label>@L("StartDate")</label>
                <input class="form-control"  type="date" name="sdate" ng-model="vm.sprint.startDate" required />
            </div>
            <div class="form-group">
                <label>@L("EndDate")</label>
                <input class="form-control" type="date" name="edate" ng-model="vm.sprint.endDate" required />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="projectCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>