﻿@using Abp.Authorization.Users
<div>
    <form name="projectCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("EditMembers")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row" ng-repeat="member in vm.members">
                <div class="form-group">
                    <label>@L("AssignedUser")</label>
                    <select ng-model="member.userId" ng-options="x.id as x.fullName for x in vm.users" required />

                    <label>@L("AssignedRole")</label>
                    <select ng-model="member.membersCategoryId" ng-options="x.id as x.name for x in vm.memberCategories" required />
                </div>  
            </div>
            <div class="row">
                <a ng-click="vm.addMember()">@L("AddMember")</a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="projectCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>