﻿<div ng-controller="app.views.sprints as vm">
    <div class="row">
        <a class="btn btn-primary blue" ng-click="vm.goBack()">@L("GoBackToProjects")</a>
        <a class="btn btn-primary blue" ng-click="vm.createSprint()">@L("CreateNewSprint")</a>
        <a class="btn btn-primary blue" ng-click="vm.deleteProject()">@L("DeleteProject")</a>
        <a class="btn btn-primary blue" ng-click="vm.editMembers()">@L("EditMembers")</a>

    </div>
    <div class="row">
        <h4 class="heading">{{vm.project.name}}</h4>

        <div class="row">
            <div class="col-md-5">
                <div class="row well">
                    <h3>@L("Sprints")</h3>
                    <div style="border: dashed 1px gray; margin-bottom: 10px;" ng-repeat="sprint in vm.project.sprints">
                        <a ng-click="vm.goToSprint(sprint.id)"><h4>{{sprint.name}}</h4></a>
                        <p>{{sprint.startDate | date}} - {{sprint.endDate | date}}</p>
                        <p>@("Issues"): {{sprint.nrOfIssues}}</p>
                        <a ng-click="vm.editSprint(sprint.id)">@L("EditSprint")</a>
                        <a ng-click="vm.deleteSprint(sprint.id)">@L("DeleteSprint")</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="row well">
                    <h3>@L("Members")</h3>
                    <div ng-repeat="member in vm.project.members">
                        <p>{{member.user.name}} {{member.user.surname}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>