﻿@using Abp.Authorization.Users
<div>
    <form name="projectCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("CreateOrEditIssue")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>@L("Name")</label>
                <input class="form-control" name="Name" ng-model="vm.issue.name" required />
            </div>
            <div class="form-group">    
                <label>@L("Description")</label>
                <textarea class="form-control"  type="text" name="description" ng-model="vm.issue.description" required></textarea>
            </div>
            <div class="form-group">
                <label>@L("StartDate")</label>
                <input class="form-control" type="date" name="startdate" ng-model="vm.issue.startDate" required />
            </div>
            <div class="form-group">
                <label>@L("EndDate")</label>
                <input class="form-control" type="date" name="enddate" ng-model="vm.issue.endDate" required />
            </div>
            <div class="form-group">
                <label>@L("Done")</label>
                <select name="singleSelect" id="singleSelect" ng-options="x.id as x.value for x in vm.doneSelect" ng-model="vm.issue.done"></select></div>
                   
            <div class="form-group">
                <label>@L("IssueCategory")</label>
                <select ng-model="vm.issue.issueCategoryForeignKey" ng-options="x.id as x.name for x in vm.issueCategories"  required/>
            </div>
            
            <div class="form-group">
                <label>@L("AssignedUser")</label>
                <select ng-model="vm.issue.userForeignKey" ng-options="x.user.id as x.user.fullName for x in vm.members" required />
            </div>
            
            <div class="form-group">
                <label>@L("EstimatedTime")</label>
                <input class="form-control" type="number" name="time" ng-model="vm.issue.estimatedTime" required />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="projectCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>