﻿<div ng-controller="app.views.issues as vm">

    <div class="row">
        <a class="btn btn-primary blue" ng-click="vm.goBack()">@L("GoBackToSprints")</a>
    </div>
    <div class="row">
        <div class='col-md-9'>
            <h2>{{vm.sprint.name}}</h2>
        </div>
        <div class="col-md-3">
            <p class="text-muted">@L("StartDate"): {{vm.sprint.startDate | date}}</p>
            <p class="text-muted">@L("EndDate"): {{vm.sprint.endDate | date}}</p>
            <p class="text-muted">@("Issues"): {{vm.sprint.nrOfIssues}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-primary blue" ng-click="vm.newIssue()">@L("NewIssue")</a>
        </div>
    </div>
    <div class="row">
        <h4 class="heading">@L("ListOfIssues")</h4>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>@L("Name")</th>
                    <th>@L("StartDate")</th>
                    <th>@L("EndDate")</th>
                    <th>@L("Done")</th>
                    <th>@L("AssignedUser")</th>
                    <th>@L("EstimatedTime")</th>
                    <th>@L("Category")</th>
                    <th>@L("Actions")</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in vm.issues">
                    <td><a ng-click="vm.showIssue(issue.id)">{{issue.name}}</a></td>
                    <td>{{issue.startDate | date}}</td>
                    <td>{{issue.endDate | date}}</td>
                    <td>{{issue.done}}%</td>
                    <td>{{issue.assignedUser.fullName}}</td>
                    <td>{{issue.estimatedTime}}h</td>
                    <td>{{issue.issueCategory.name}}</td>
                    <td>
                        <a ng-click="vm.logTime(issue.id)">@L("LogTime")</a>
                        <a ng-click="vm.deleteIssue(issue.id)">@L("Delete")</a>
                        <a ng-click="vm.editIssue(issue.id)">@L("Edit")</a>
                        <a ng-click="vm.newChildIssue(issue.id)">@L("AddChild")</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" ng-hide="vm.nrOfPages === 0">
            <div class="col-md-1" style="margin-right: -15px;">
                <a ng-click="vm.changePage(-1)"><<</a>
            </div>
            <div class="col-md-2" style="width: 15px; height: 20px; border-style: double; padding-bottom: 22px; margin-left: -35px;padding-left:5px">{{vm.page}}</div>
            <div class="col-md-1" style="margin-left: -10px;">
                <a ng-click="vm.changePage(1)">>></a>
            </div>
        </div>
    </div>
</div>